version: 2

updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: monthly
    groups:
      dotnet:
        patterns:
          - "*"

  - package-ecosystem: pip
    directory: /tools
    schedule:
      interval: monthly
    groups:
      python:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"
